/* SubmissionTable.css */

.submission-table-wrapper {
   display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto; /* Set the width to 100% */
  max-width: 800px; 
  align-items: center;
  align-content: center;
}

.header-container {
  padding: 8px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.filter-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-input {
  flex: 1;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-icon {
  font-size: 20px;
  color: #aaa;
}

.content {
  flex: 1;
  /* overflow-y: auto; */
}

.submission-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submission-table th,
.submission-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.submission-table th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .submission-table th,
  .submission-table td {
    font-size: 14px;
    padding: 6px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .submission-table th,
  .submission-table td {
    font-size: 16px;
    padding: 8px;
  }
}

@media screen and (min-width: 1025px) {
  .submission-table th,
  .submission-table td {
    font-size: 18px;
    padding: 10px;
  }
}
